<!-- Bottom Nav -->


  <nav class="navbar fixed-bottom bg-dark">
    <div class="container-fluid">
      <h6 id="copyright" style="color:white;">&copy;&nbsp;Copyright&nbsp;&nbsp;Kimberley Yung 301233224</h6>
      <h6 id="copyright" style="color:white;">COMP 229 - Web Application Development&nbsp;&nbsp;Centennial College</h6>
    </div>
  </nav>