<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy;&nbsp;Copyright&nbsp;&nbsp;Kimberley Yung 301233224</h6>
      <h6 class="display-6 navbar-text">COMP 229 - Web Application Development&nbsp;&nbsp;Centennial College</h6>
    </nav>
  </footer>