<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
    <img class="logo" src="images/LOGO.png" style="width: 150px; height: 212.35px;"/>
      <h1 class="display-4">Hi,</h1>
      <h1>I'm Kimberley</h1>
      <h3>Software Engineer</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus odit quibusdam placeat omnis fugiat dolor blanditiis nobis dignissimos vel quis ipsum optio, maiores reprehenderit iste inventore excepturi doloribus quod harum.</p>
      <button><a href="./aboutme">About Me</a></button>
      <button><a href="#download">Download CV</a></button>
      
    </div>
  </main>


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
