<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>Document</title>
    <nav>
        <div class="nav">
            <a href="index.ejs" class="active">Home</a>
            <a href="aboutme.ejs">About Me</a>
            <a href="project.ejs">Projects</a>
            <a href="service.ejs">Services</a>
            <a href="contact.ejs">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i></a>
        </div>
    </nav>
</head>
<body>
    <table>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
    
    <script src="script.js"></script>
</body>
</html>