
  <!-- Main Content -->
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    </div>

    <div style="text-align: center;">
    <h3>Address: </h3>
    <p>Scarborough, ONTARIO, M1T3W7</p>
    <h3>Phone: </h3>
    <p>(+1)437 - 329 - 2868</p>
    <h3>Email: </h3>
    <p>kyung.97@hotmail.com</p>
    <h3>LinkedIn</h3>
    <p><a href="https://www.linkedin.com/in/kimberleyyung/">https://www.linkedin.com/in/kimberleyyung/</a></p>
    <h3>Website: </h3>
    <p><a href="https://kimberleyyung.me/">https://kimberleyyung.me/</a></p>


  <form action="mailto:kyung8@my.centennialcollege.ca">
    <label for="fname">First Name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    
    <label for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br>
    
    <label for="lname">Contact Number:</label><br>
    <input type="text" id="contactnumbeer" name="contactnumbeer" value="1112223333"><br>
    
    <label for="lname">Email Address:</label><br>
    <input type="text" id="emailaddress" name="emailaddress" value="hello@my.centennialcollege.ca"><br>
    
    <label for="lname">Message:</label><br>
    <input type="text" id="message" name="message" value="Type message here." style="height:100px;"><br>
    
    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
  </div>
