  <!-- Main Content -->
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      
    </div>
<div style="text-align: center;">
    <h3>Services that we provide:</h3>
  
    <ul>
      <img src="/images/web.jpg" style="width:300px; height:300px;">
      <li>Web Development
        <ul><li>We can create your website in the following languages: C# ASP.NET, JavaScript (Node / Angular / React), PHP, Java and Python</li></ul>
        
      </li>
      <br>
      <img src="/images/mobile.jpg" style="width:300px; height:300px;">
      <li>Mobile Apps for Android and Apple
        <ul><li>Want an app in the Apple App Store, Google Play Store or Samsung Galaxy Store? Start with us!</li></ul>
      </li>
      <br>
      <img src="/images/windows.jpg" style="width:300px; height:300px;">
      <li>Windows Apps
        <ul><li>Do you want an application designed for Windows? We can develop applications for you for Windows 10 and 11.</li></ul>
      </li>
      <br>
      <img src="/images/mac.jpg" style="width:300px; height:300px;">
      <li>MacOSX Apps
        <ul><li>Make your MacOSX experience better by having us develop apps for your favourite Mac OS.</li></ul>
      </li>
      <br>
      <img src="/images/consultation.jpg" style="width:300px; height:300px;">
      <li>Consultation
        <ul><li>Let us help you solve problems, assess a better understanding of your projects and improve operations.</li></ul>
      </li>
    </ul>
</div>